<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Finance Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container card my-5 mx-5 bg-dark">

    <h1 class="mb-4 mt-4 bg-success text-white personal_card_header">💰 Personal Finance Tracker</h1>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Add transaction form -->
    <div class="card mb-4">
        <div class="card-body">
            <form action="{{ url_for('add') }}" method="post" class="row g-3 justify-content-between">
                <div class="col-md-1">
                    <input type="date" name="date" class="form-control fs-8" required>
                </div>
                <div class="col-md-3">
                    <input type="text" name="description" placeholder="Description" class="form-control fs-8" required>
                </div>
                <div class="col-md-2">
                    <input type="text" name="category" placeholder="Category" class="form-control fs-8">
                </div>
                <div class="col-md-2">
                    <select name="type" class="form-select" required>
                        <option value="Income" class="fs-8">Income</option>
                        <option value="Expense" class="fs-8">Expense</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <input type="number" step="0.01" name="amount" placeholder="0,00" class="form-control fs-8" required>
                </div class="col-md-1">
                <div class="col-md-1">
                    <select class="form-select" aria-labelledby="Currency">
                        {% for c in currencies %}
                            <option value="{{ c.id }}" > {{ c.simbol }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success w-100">Add</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Transactions table -->
    <table class="table table-striped">
        <thead class="bg-success">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
            <tr>
                <td>{{ t.date }}</td>
                <td>{{ t.description }}</td>
                <td>{{ t.category or '-' }}</td>
                {% if t.type == "Expense" %}
                    <td>{{ t.type }} <i class="fa-solid fa-arrow-down " style="color: red"></i></td>
                {% else %}
                    <td>{{ t.type }} <i class="fa-solid fa-arrow-up " style="color: green"></i></td>
                {% endif %}
                <td>{{ t.currency }}&nbsp;&nbsp;{{ t.amount }}</td>
                <td>
                    <a href="{{ url_for('delete', transaction_id=t.id) }}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="text-center">No transactions yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <hr class="my-4">

<div class="container-fluid">
    <div class="row">
        <!-- Expense Breakdown -->
        <div class="col-md-6 mb-4">
            <div class="card personal_card">
                <div class="card-header d-flex justify-content-between align-items-center personal_card_header bg-success">
                    <h5 class="mb-0 toggle-header" data-target="#expenseSection"> Expenses Breakdown</h5>
                    <button id="editColorsBtn" class="btn personal_card_btn">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </div>
                <div class="card-body personal_card_body" id="expenseSection">
                    <canvas id="expenseChart" height="250"></canvas>
                </div>
            </div>
        </div>
        <!-- Balance Trend -->
        <div class="col-md-6 mb-4">
            <div class="card personal_card">
                <div class="card-header personal_card_header bg-success text-white fw-bold toggle-header" data-target="#balanceSection">
                    📈 Account Balance
                </div>
                <div class="card-body personal_card_body" id="balanceSection">
                    <canvas id="balanceChart" height="250"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-end mt-2">
    
</div>
<!-- modal zone -->
<div id="modalContainer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
